
/* <!-- // CHAPTER 53 TO 58 AND TASK No. 1 --> */


/* .img {

width:  140px;
height: 140px;
cursor:  pointer;

}

.bigImage {
    width:  450px;
    height: 300px;
} */


.table {
    /* background-color: black;
    border: 2px; */
}

